/* FONT FACE RULE */
@font-face {
  font-family: "Heavy";
  src: url(fonts/poppins.woff2) format("woff2");
}
@font-face {
  font-family: "Regular";
  src: url(fonts/raleway300.woff2) format("woff2");
}
@font-face {
  font-family: "Light";
  src: url(fonts/raleway400.woff2) format("woff2");
}

/* Root */
:root {
  --green: #61b752;
  --red: #d33232;
  --white: #fff;
  --black: #000;
}

/* StyleSheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Regular";
}
html {
  font-size: 80%;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px 10%;
  color: #fff;
}
.hero h3 {
  margin-top: 10%;
  font-weight: 400;
  font-size: 3rem;
}
.hero h1 {
  margin-top: 3rem;
  font-size: 5rem;
  line-height: 4.8rem;
}
.hero p {
  margin: 1rem 0 5rem;
}

/* Form */
form {
  background: #fff;
  display: flex;
  width: fit-content;
}
form input {
  border: 0;
  outline: none;
  padding: 1rem 2rem;
  height: 6rem;
  width: 40rem;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}
form input::placeholder {
  font-weight: bold;
  letter-spacing: 1px;
}
form .icon {
  padding-left: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail-icon {
  width: 2.2rem;
  height: 2.2rem;
}
.mail-icon .mail-path {
  fill: var(--green);
  stroke: var(--green);
}
.send-icon {
  width: 2.8rem;
  height: 2.8rem;
}
.send-icon .send-path {
  fill: var(--white);
  stroke: var(--green);
}
form button {
  background: var(--green);
  border: none;
  outline: none;
  height: 6rem;
  width: 10rem;
  cursor: pointer;
}
form button:hover {
  background-color: var(--black);
  transition: all 0.5s;
}
/* span */
span {
  margin-top: 1rem;
  display: block;
}
.success {
  color: var(--green);
}
.failed {
  color: var(--red);
}
